/* var */
.\$d\:i, .d\:f, .d\:g,
.cols, .cols\:1, .cols\:2, .cols\:3, .cols\:4, .cols\:5, .cols\:6, .cols\:7, .cols\:8, .cols\:9, .cols\:10, .cols\:11, .cols\:12
{ --sf-gap-x: var(--sf-gap-x-sm); --sf-gap-y: var(--sf-gap-y-sm) }

.d\:f\:x { --sf-gap-x: var(--sf-gap-x-sm) }
.d\:f\:y { --sf-gap-y: var(--sf-gap-y-sm) }

.d\:g\:x { --sf-gap-x: var(--sf-gap-x-sm) }
.d\:g\:y { --sf-gap-y: var(--sf-gap-y-sm) }

.gap\:0 { --sf-gap-x: 0em; --sf-gap-y: 0em }
.gap\:x\:0 { --sf-gap-x: 0em } .gap\:y\:0 { --sf-gap-y: 0em }

.gap { --sf-gap-x: var(--sf-gap-x-sm); --sf-gap-y: var(--sf-gap-y-sm) }
.gap\:xs { --sf-gap-x: var(--sf-gap-x-xs); --sf-gap-y: var(--sf-gap-y-xs) }
.gap\:sm { --sf-gap-x: var(--sf-gap-x-sm); --sf-gap-y: var(--sf-gap-y-sm) }
.gap\:ms { --sf-gap-x: var(--sf-gap-x-ms); --sf-gap-y: var(--sf-gap-y-ms) }
.gap\:ls { --sf-gap-x: var(--sf-gap-x-ls); --sf-gap-y: var(--sf-gap-y-ls) }
.gap\:md { --sf-gap-x: var(--sf-gap-x-md); --sf-gap-y: var(--sf-gap-y-md) }
.gap\:lg { --sf-gap-x: var(--sf-gap-x-lg); --sf-gap-y: var(--sf-gap-y-lg) }
.gap\:xl { --sf-gap-x: var(--sf-gap-x-xl); --sf-gap-y: var(--sf-gap-y-xl) }

.gap\:x { --sf-gap-x: var(--sf-gap-x-sm) } .gap\:y { --sf-gap-y: var(--sf-gap-y-sm) }
.gap\:x\:xs { --sf-gap-x: var(--sf-gap-x-xs) } .gap\:y\:xs { --sf-gap-y: var(--sf-gap-y-xs) }
.gap\:x\:sm { --sf-gap-x: var(--sf-gap-x-sm) } .gap\:y\:sm { --sf-gap-y: var(--sf-gap-y-sm) }
.gap\:x\:ms { --sf-gap-x: var(--sf-gap-x-ms) } .gap\:y\:ms { --sf-gap-y: var(--sf-gap-y-ms) }
.gap\:x\:ls { --sf-gap-x: var(--sf-gap-x-ls) } .gap\:y\:ls { --sf-gap-y: var(--sf-gap-y-ls) }
.gap\:x\:md { --sf-gap-x: var(--sf-gap-x-md) } .gap\:y\:md { --sf-gap-y: var(--sf-gap-y-md) }
.gap\:x\:lg { --sf-gap-x: var(--sf-gap-x-lg) } .gap\:y\:lg { --sf-gap-y: var(--sf-gap-y-lg) }
.gap\:x\:xl { --sf-gap-x: var(--sf-gap-x-xl) } .gap\:y\:xl { --sf-gap-y: var(--sf-gap-y-xl) }

/* gap */
.gap { margin-top: calc(var(--sf-gap-y) * -1); margin-left: calc(var(--sf-gap-x) * -1) }
.gap\:x { margin-left: calc(var(--sf-gap-x) * -1) }
.gap\:y { margin-top: calc(var(--sf-gap-y) * -1) }

.gap:not(html) > * { margin-top: var(--sf-gap-y) }
.gap:not(html) > *:not([class*="col:start"]) { margin-left: var(--sf-gap-x) }
.gap\:x > *:not([class*="col:start"]) { margin-left: var(--sf-gap-x) }
.gap\:y > * { margin-top: var(--sf-gap-y) }

.gap > .col,
.gap > .col\:1,
.gap > .col\:2,
.gap > .col\:3,
.gap > .col\:4,
.gap > .col\:5,
.gap > .col\:6,
.gap > .col\:7,
.gap > .col\:8,
.gap > .col\:9,
.gap > .col\:10,
.gap > .col\:11,
.gap > .col\:12
{
  margin-top: calc(var(--sf-gap-y) * 0);
  padding-top: var(--sf-gap-y);
}
.gap > .col:not([class*="col:start"]),
.gap > .col\:1:not([class*="col:start"]),
.gap > .col\:2:not([class*="col:start"]),
.gap > .col\:3:not([class*="col:start"]),
.gap > .col\:4:not([class*="col:start"]),
.gap > .col\:5:not([class*="col:start"]),
.gap > .col\:6:not([class*="col:start"]),
.gap > .col\:7:not([class*="col:start"]),
.gap > .col\:8:not([class*="col:start"]),
.gap > .col\:9:not([class*="col:start"]),
.gap > .col\:10:not([class*="col:start"]),
.gap > .col\:11:not([class*="col:start"]),
.gap > .col\:12:not([class*="col:start"])
{
  margin-left: calc(var(--sf-gap-x) * 0);
  padding-left: var(--sf-gap-x);
}

.gap\:x > .col:not([class*="col:start"]),
.gap\:x > .col\:1:not([class*="col:start"]),
.gap\:x > .col\:2:not([class*="col:start"]),
.gap\:x > .col\:3:not([class*="col:start"]),
.gap\:x > .col\:4:not([class*="col:start"]),
.gap\:x > .col\:5:not([class*="col:start"]),
.gap\:x > .col\:6:not([class*="col:start"]),
.gap\:x > .col\:7:not([class*="col:start"]),
.gap\:x > .col\:8:not([class*="col:start"]),
.gap\:x > .col\:9:not([class*="col:start"]),
.gap\:x > .col\:10:not([class*="col:start"]),
.gap\:x > .col\:11:not([class*="col:start"]),
.gap\:x > .col\:12:not([class*="col:start"])
{ margin-left: calc(var(--sf-gap-x) * 0); padding-left: var(--sf-gap-x) }

.gap\:y > .col,
.gap\:y > .col\:1,
.gap\:y > .col\:2,
.gap\:y > .col\:3,
.gap\:y > .col\:4,
.gap\:y > .col\:5,
.gap\:y > .col\:6,
.gap\:y > .col\:7,
.gap\:y > .col\:8,
.gap\:y > .col\:9,
.gap\:y > .col\:10,
.gap\:y > .col\:11,
.gap\:y > .col\:12
{ margin-top: calc(var(--sf-gap-y) * 0); padding-top: var(--sf-gap-y) }

/* flex */
.d\:f, .d\:f\:x, .d\:f\:y {
  row-gap: var(--sf-gap-y);
  column-gap: var(--sf-gap-x);
}

.d\:f, .d\:f\:x, .d\:f\:y,
.d\:f > *, .d\:f\:x > *, .d\:f\:y > * {
  margin-top: calc(var(--sf-gap-y) * 0);
  margin-left: calc(var(--sf-gap-x) * 0);
}

.d\:f[class*="cols"] > [class*="col"],
.d\:f\:x[class*="cols"] > [class*="col"],
.d\:f\:y[class*="cols"] > [class*="col"]
{
  width: calc(var(--col, 1) / var(--cols, 12) * 100% - var(--sf-gap-x) / var(--cols, 12) * (var(--cols, 12) - var(--col, 1)));
  padding-top: calc(var(--sf-gap-y) * 0);
  padding-left: calc(var(--sf-gap-x) * 0);
}

.d\:f[class*="cols"] > [class*="col:start"],
.d\:f\:x[class*="cols"] > [class*="col:start"],
.d\:f\:y[class*="cols"] > [class*="col:start"]
{ margin-left: calc((var(--cs, 1) - 1) / var(--cols, 12) * 100% + var(--sf-gap-x) * (var(--cs, 1) - 1) / var(--cols, 12)) }

.d\:f[class*="cols"] > [class*="col:end"],
.d\:f\:x[class*="cols"] > [class*="col:end"],
.d\:f\:y[class*="cols"] > [class*="col:end"]
{ margin-right: calc((var(--ce, 1) - 1) / var(--cols, 12) * 100% + var(--sf-gap-x) * (var(--ce, 1) - 1) / var(--cols, 12)) }

/* grid */
.d\:g, .d\:g\:x, .d\:g\:y {
  row-gap: var(--sf-gap-y);
  column-gap: var(--sf-gap-x);
}

.d\:g, .d\:g\:x, .d\:g\:y,
.d\:g > *, .d\:g\:x > *, .d\:g\:y > * {
  margin-top: calc(var(--sf-gap-y) * 0);
  margin-left: calc(var(--sf-gap-x) * 0);
}

/* gap zero for inline-block (UP) */
.gap\:0 { margin-top: 0; margin-left: 0 }
.gap\:x\:0 { margin-left: 0 }
.gap\:y\:0 { margin-top: 0 }

.gap\:0 > * { margin-top: 0; margin-left: 0 }
.gap\:x\:0 > * { margin-left: 0 }
.gap\:y\:0 > * { margin-top: 0 }

/* inline */
.\$d\:i {
  margin-top: calc(var(--sf-gap-y) * -1);
  margin-left: calc(var(--sf-gap-x) * -1);
}
.\$d\:i > * { margin-top: var(--sf-gap-y); margin-left: var(--sf-gap-x) }

.\$d\:i > .\$d\:i, .\$d\:i > [class*='cols'] {
  margin-top: calc(var(--sf-gap-y) * 0);
  margin-left: calc(var(--sf-gap-x) * 0);
}

/* cols */
.cols,
.cols\:1,
.cols\:2,
.cols\:3,
.cols\:4,
.cols\:5,
.cols\:6,
.cols\:7,
.cols\:8,
.cols\:9,
.cols\:10,
.cols\:11,
.cols\:12
{ margin-top: calc(var(--sf-gap-y) * -1); margin-left: calc(var(--sf-gap-x) * -1) }

.col,
.col\:1,
.col\:2,
.col\:3,
.col\:4,
.col\:5,
.col\:6,
.col\:7,
.col\:8,
.col\:9,
.col\:10,
.col\:11,
.col\:12
{
  margin-top: calc(var(--sf-gap-y) * 0);
  margin-left: calc(var(--sf-gap-x) * 0);
  padding-top: var(--sf-gap-y);
  padding-left: var(--sf-gap-x);
}

/* /// */

/* flex */
html.var .d\:f { margin-top: -0.5em; margin-left: -0.5em }
html.var .d\:f > * { margin-top: 0.5em }
html.var .d\:f > *:not([class*='col:start']) { margin-left: 0.5em }

html.var .d\:f\:x { margin-left: -0.5em }
html.var .d\:f\:x > *:not([class*='col:start']) { margin-left: 0.5em }

html.var .d\:f\:y { margin-top: -0.5em }
html.var .d\:f\:y > * { margin-top: 0.5em }

html.var .d\:f > .\$d\:i,
html.var .d\:f > .d\:f, html.var .d\:f > .d\:f\:x, html.var .d\:f > .d\:f\:y,
html.var .d\:f > .d\:g, html.var .d\:f > .d\:g\:x, html.var .d\:f > .d\:g\:y,
html.var .d\:f > [class*='cols']
{ margin-top: 0; margin-left: 0 }

html.var .d\:f\:x > .\$d\:i,
html.var .d\:f\:x > .d\:f, html.var .d\:f\:x > .d\:f\:x, html.var .d\:f\:x > .d\:f\:y,
html.var .d\:f\:x > .d\:g, html.var .d\:f\:x > .d\:g\:x, html.var .d\:f\:x > .d\:g\:y,
html.var .d\:f\:x > [class*='cols']
{ margin-left: 0 }

html.var .d\:f\:y > .\$d\:i,
html.var .d\:f\:y > .d\:f, html.var .d\:f\:y > .d\:f\:x, html.var .d\:f\:y > .d\:f\:y,
html.var .d\:f\:y > .d\:g, html.var .d\:f\:y > .d\:g\:x, html.var .d\:f\:y > .d\:g\:y,
html.var .d\:f\:y > [class*='cols']
{ margin-top: 0 }

/* grid */
html.var .d\:g { margin-top: -0.5em; margin-left: -0.5em }
html.var .d\:g > * { margin-top: 0.5em }
html.var .d\:g > *:not([class*='col:start']) { margin-left: 0.5em }

html.var .d\:g\:x { margin-left: -0.5em }
html.var .d\:g\:x > *:not([class*='col:start']) { margin-left: 0.5em }

html.var .d\:g\:y { margin-top: -0.5em }
html.var .d\:g\:y > * { margin-top: 0.5em }

html.var .d\:g > .\$d\:i,
html.var .d\:g > .d\:f, html.var .d\:g > .d\:f\:x, html.var .d\:g > .d\:f\:y,
html.var .d\:g > .d\:g, html.var .d\:g > .d\:g\:x, html.var .d\:g > .d\:g\:y,
html.var .d\:g > [class*='cols']
{ margin-top: 0; margin-left: 0 }

html.var .d\:g\:x > .\$d\:i,
html.var .d\:g\:x > .d\:f, html.var .d\:g\:x > .d\:f\:x, html.var .d\:g\:x > .d\:f\:y,
html.var .d\:g\:x > .d\:g, html.var .d\:g\:x > .d\:g\:x, html.var .d\:g\:x > .d\:g\:y,
html.var .d\:g\:x > [class*='cols']
{ margin-left: 0 }

html.var .d\:g\:y > .\$d\:i,
html.var .d\:g\:y > .d\:f, html.var .d\:g\:y > .d\:f\:x, html.var .d\:g\:y > .d\:f\:y,
html.var .d\:g\:y > .d\:g, html.var .d\:g\:y > .d\:g\:x, html.var .d\:g\:y > .d\:g\:y,
html.var .d\:g\:y > [class*='cols']
{ margin-top: 0 }

/* inline */
html.var .\$d\:i { margin-top: -0.5em; margin-left: -0.5em }
html.var .\$d\:i > * { margin-top: 0.5em; margin-left: 0.5em }

html.var .\$d\:i > .\$d\:i,
html.var .\$d\:i > .d\:f, html.var .\$d\:i > .d\:f\:x, html.var .\$d\:i > .d\:f\:y,
html.var .\$d\:i > .d\:g, html.var .\$d\:i > .d\:g\:x, html.var .\$d\:i > .d\:g\:y,
html.var .\$d\:i > [class*='cols']
{ margin-top: 0; margin-left: 0 }

/* cols */
html.var [class*='cols'] { margin-top: -0.5em; margin-left: -0.5em }
html.var [class*='cols'] > [class*='col'] { margin-top: 0; padding-top: 0.5em; padding-left: 0.5em }
html.var [class*='cols'] > [class*='col']:not([class*='col:start']) { margin-left: 0 }

html.var .gap[class*='cols'] > [class*='col'] { padding-top: 0.5em; padding-left: 0.5em }

html.var .gap\:x[class*='cols'] { margin-left: -0.5em }
html.var .gap\:x[class*='cols'] > [class*='col'] { padding-left: 0.5em }

html.var .gap\:y[class*='cols'] { margin-top: -0.5em }
html.var .gap\:y[class*='cols'] > [class*='col'] { padding-top: 0.5em }

html.var .gap\:xs[class*='cols'] { margin-top: -0.25em; margin-left: -0.25em }
html.var .gap\:sm[class*='cols'] { margin-top: -0.5em; margin-left: -0.5em }
html.var .gap\:ms[class*='cols'] { margin-top: -0.75em; margin-left: -0.75em }
html.var .gap\:ls[class*='cols'] { margin-top: -0.85em; margin-left: -0.85em }
html.var .gap\:md[class*='cols'] { margin-top: -1em; margin-left: -1em }
html.var .gap\:lg[class*='cols'] { margin-top: -1.5em; margin-left: -1.5em }
html.var .gap\:xl[class*='cols'] { margin-top: -2em; margin-left: -2em }

html.var .gap\:xs[class*='cols'] > [class*='col'] { margin-top: 0; padding-top: 0.25em; padding-left: 0.25em }
html.var .gap\:sm[class*='cols'] > [class*='col'] { margin-top: 0; padding-top: 0.5em; padding-left: 0.5em }
html.var .gap\:ms[class*='cols'] > [class*='col'] { margin-top: 0; padding-top: 0.75em; padding-left: 0.75em }
html.var .gap\:ls[class*='cols'] > [class*='col'] { margin-top: 0; padding-top: 0.85em; padding-left: 0.85em }
html.var .gap\:md[class*='cols'] > [class*='col'] { margin-top: 0; padding-top: 1em; padding-left: 1em }
html.var .gap\:lg[class*='cols'] > [class*='col'] { margin-top: 0; padding-top: 1.5em; padding-left: 1.5em }
html.var .gap\:xl[class*='cols'] > [class*='col'] { margin-top: 0; padding-top: 2em; padding-left: 2em }

html.var .gap\:xs[class*='cols'] > [class*='col']:not([class*='col:start']) { margin-left: 0 }
html.var .gap\:sm[class*='cols'] > [class*='col']:not([class*='col:start']) { margin-left: 0 }
html.var .gap\:ms[class*='cols'] > [class*='col']:not([class*='col:start']) { margin-left: 0 }
html.var .gap\:ls[class*='cols'] > [class*='col']:not([class*='col:start']) { margin-left: 0 }
html.var .gap\:md[class*='cols'] > [class*='col']:not([class*='col:start']) { margin-left: 0 }
html.var .gap\:lg[class*='cols'] > [class*='col']:not([class*='col:start']) { margin-left: 0 }
html.var .gap\:xl[class*='cols'] > [class*='col']:not([class*='col:start']) { margin-left: 0 }

html.var .gap\:x\:xs[class*='cols'] { margin-left: -0.25em }
html.var .gap\:x\:sm[class*='cols'] { margin-left: -0.5em }
html.var .gap\:x\:ms[class*='cols'] { margin-left: -0.75em }
html.var .gap\:x\:ls[class*='cols'] { margin-left: -0.85em }
html.var .gap\:x\:md[class*='cols'] { margin-left: -1em }
html.var .gap\:x\:lg[class*='cols'] { margin-left: -1.5em }
html.var .gap\:x\:xl[class*='cols'] { margin-left: -2em }

html.var .gap\:x\:xs[class*='cols'] > [class*='col'] { padding-left: 0.25em }
html.var .gap\:x\:sm[class*='cols'] > [class*='col'] { padding-left: 0.5em }
html.var .gap\:x\:ms[class*='cols'] > [class*='col'] { padding-left: 0.75em }
html.var .gap\:x\:ls[class*='cols'] > [class*='col'] { padding-left: 0.85em }
html.var .gap\:x\:md[class*='cols'] > [class*='col'] { padding-left: 1em }
html.var .gap\:x\:lg[class*='cols'] > [class*='col'] { padding-left: 1.5em }
html.var .gap\:x\:xl[class*='cols'] > [class*='col'] { padding-left: 2em }

html.var .gap\:y\:xs[class*='cols'] { margin-top: -0.25em }
html.var .gap\:y\:sm[class*='cols'] { margin-top: -0.5em }
html.var .gap\:y\:ms[class*='cols'] { margin-top: -0.75em }
html.var .gap\:y\:ls[class*='cols'] { margin-top: -0.85em }
html.var .gap\:y\:md[class*='cols'] { margin-top: -1em }
html.var .gap\:y\:lg[class*='cols'] { margin-top: -1.5em }
html.var .gap\:y\:xl[class*='cols'] { margin-top: -2em }

html.var .gap\:y\:xs[class*='cols'] > [class*='col'] { padding-top: 0.25em }
html.var .gap\:y\:sm[class*='cols'] > [class*='col'] { padding-top: 0.5em }
html.var .gap\:y\:ms[class*='cols'] > [class*='col'] { padding-top: 0.75em }
html.var .gap\:y\:ls[class*='cols'] > [class*='col'] { padding-top: 0.85em }
html.var .gap\:y\:md[class*='cols'] > [class*='col'] { padding-top: 1em }
html.var .gap\:y\:lg[class*='cols'] > [class*='col'] { padding-top: 1.5em }
html.var .gap\:y\:xl[class*='cols'] > [class*='col'] { padding-top: 2em }

html.var .gap\:0[class*='cols'] { margin-top: 0; margin-left: 0 }
html.var .gap\:0[class*='cols'] > [class*='col'] { padding-top: 0; padding-left: 0 }

html.var .gap\:x\:0[class*='cols'] { margin-left: 0 }
html.var .gap\:x\:0[class*='cols'] > [class*='col'] { padding-left: 0 }

html.var .gap\:y\:0[class*='cols'] { margin-top: 0 }
html.var .gap\:y\:0[class*='cols'] > [class*='col'] { padding-top: 0 }

/* gap */
html.var .gap\:0 { margin-top: 0; margin-left: 0 }
html.var .gap\:0 > * { margin-top: 0 }
html.var .gap\:0 > *:not([class*='col:start']) { margin-left: 0 }

html.var .gap\:x\:0 { margin-left: 0 }
html.var .gap\:x\:0 > *:not([class*='col:start']) { margin-left: 0 }

html.var .gap\:y\:0 { margin-top: 0 }
html.var .gap\:y\:0 > * { margin-top: 0 }

html.var .gap { margin-top: -0.5em; margin-left: -0.5em }
html.var .gap > * { margin-top: 0.5em } html.var .gap > *:not([class*='col:start']) { margin-left: 0.5em }
html.var .gap\:x { margin-left: -0.5em } html.var .gap\:x > *:not([class*='col:start']) { margin-left: 0.5em }
html.var .gap\:y { margin-top: -0.5em } html.var .gap\:y > * { margin-top: 0.5em }

html.var .gap\:xs { margin-top: -0.25em; margin-left: -0.25em } html.var .gap\:xs > * { margin-top: 0.25em } html.var .gap\:xs > *:not([class*='col:start']) { margin-left: 0.25em }
html.var .gap\:sm { margin-top: -0.5em; margin-left: -0.5em } html.var .gap\:sm > * { margin-top: 0.5em } html.var .gap\:sm > *:not([class*='col:start']) { margin-left: 0.5em }
html.var .gap\:ms { margin-top: -0.75em; margin-left: -0.75em } html.var .gap\:ms > * { margin-top: 0.75em } html.var .gap\:ms > *:not([class*='col:start']) { margin-top: 0.75em }
html.var .gap\:ls { margin-top: -0.85em; margin-left: -0.85em } html.var .gap\:ls > * { margin-top: 0.85em } html.var .gap\:ls > *:not([class*='col:start']) { margin-left: 0.85em }
html.var .gap\:md { margin-top: -1em; margin-left: -1em } html.var .gap\:md > * { margin-top: 1em } html.var .gap\:md > *:not([class*='col:start']) { margin-left: 1em }
html.var .gap\:lg { margin-top: -1.5em; margin-left: -1.5em } html.var .gap\:lg > * { margin-top: 1.5em } html.var .gap\:lg > *:not([class*='col:start']) { margin-left: 1.5em }
html.var .gap\:xl { margin-top: -2em; margin-left: -2em } html.var .gap\:xl > * { margin-top: 2em } html.var .gap\:xl > *:not([class*='col:start']) { margin-left: 2em }

html.var .gap\:x\:xs { margin-left: -0.25em } html.var .gap\:x\:xs > *:not([class*='col:start']) { margin-left: 0.25em }
html.var .gap\:x\:sm { margin-left: -0.5em } html.var .gap\:x\:sm > *:not([class*='col:start']) { margin-left: 0.5em }
html.var .gap\:x\:ms { margin-left: -0.75em } html.var .gap\:x\:ms > *:not([class*='col:start']) { margin-left: 0.75em }
html.var .gap\:x\:ls { margin-left: -0.85em } html.var .gap\:x\:ls > *:not([class*='col:start']) { margin-left: 0.85em }
html.var .gap\:x\:md { margin-left: -1em } html.var .gap\:x\:md > *:not([class*='col:start']) { margin-left: 1em }
html.var .gap\:x\:lg { margin-left: -1.5em } html.var .gap\:x\:lg > *:not([class*='col:start']) { margin-left: 1.5em }
html.var .gap\:x\:xl { margin-left: -2em } html.var .gap\:x\:xl > *:not([class*='col:start']) { margin-left: 2em }

html.var .gap\:y\:xs { margin-top: -0.25em } html.var .gap\:y\:xs > * { margin-top: 0.25em }
html.var .gap\:y\:sm { margin-top: -0.5em } html.var .gap\:y\:sm > * { margin-top: 0.5em }
html.var .gap\:y\:ms { margin-top: -0.75em } html.var .gap\:y\:ms > * { margin-top: 0.75em }
html.var .gap\:y\:ls { margin-top: -0.85em } html.var .gap\:y\:ls > * { margin-top: 0.85em }
html.var .gap\:y\:md { margin-top: -1em } html.var .gap\:y\:md > * { margin-top: 1em }
html.var .gap\:y\:lg { margin-top: -1.5em } html.var .gap\:y\:lg > * { margin-top: 1.5em }
html.var .gap\:y\:xl { margin-top: -2em } html.var .gap\:y\:xl > * { margin-top: 2em }
