.d\:g, .d\:g\:x, .d\:g\:y { display: grid }

.d\:g\:x, .d\:g { grid-auto-flow: column }
.d\:g\:y { grid-auto-flow: row }

.d\:g {
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}
.d\:g\:x { grid-auto-columns: auto }
.d\:g\:y { grid-auto-rows: auto }

.even.d\:g {
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}
.even.d\:g\:x { grid-auto-columns: 1fr }
.even.d\:g\:y { grid-auto-rows: 1fr }

.wrap.d\:g\:x, .wrap.d\:g { grid-auto-flow: dense column }
.wrap.d\:g\:y { grid-auto-flow: dense row }
