:root {
  --sf-margin: var(--sf-em-sm);

  --sf-margin-xs: var(--sf-em-xs);
  --sf-margin-md: var(--sf-em-md);
  --sf-margin-lg: var(--sf-em-lg);
  --sf-margin-xl: var(--sf-em-xl);
}

.m, .\$m > * { margin: var(--sf-margin) }
.m\:a, .\$m\:a > * { margin: auto }
.m\:0, .\$m\:0 > * { margin: 0 }
.m\:xs, .\$m\:xs > * { margin: var(--sf-margin-xs) }
.m\:md, .\$m\:md > * { margin: var(--sf-margin-md) }
.m\:lg, .\$m\:lg > * { margin: var(--sf-margin-lg) }
.m\:xl, .\$m\:xl > * { margin: var(--sf-margin-xl) }

.mt, .\$mt > * { margin-block-start: var(--sf-margin) }
.mt\:a, .\$mt\:a > * { margin-block-start: auto }
.mt\:0, .\$mt\:0 > * { margin-block-start: 0 }
.mt\:xs, .\$mt\:xs > * { margin-block-start: var(--sf-margin-xs) }
.mt\:md, .\$mt\:md > * { margin-block-start: var(--sf-margin-md) }
.mt\:lg, .\$mt\:lg > * { margin-block-start: var(--sf-margin-lg) }
.mt\:xl, .\$mt\:xl > * { margin-block-start: var(--sf-margin-xl) }

.mr, .\$mr > * { margin-inline-end: var(--sf-margin) }
.mr\:a, .\$mr\:a > * { margin-inline-end: auto }
.mr\:0, .\$mr\:0 > * { margin-inline-end: 0 }
.mr\:xs, .\$mr\:xs > * { margin-inline-end: var(--sf-margin-xs) }
.mr\:md, .\$mr\:md > * { margin-inline-end: var(--sf-margin-md) }
.mr\:lg, .\$mr\:lg > * { margin-inline-end: var(--sf-margin-lg) }
.mr\:xl, .\$mr\:xl > * { margin-inline-end: var(--sf-margin-xl) }

.mb, .\$mb > * { margin-block-end: var(--sf-margin) }
.mb\:a, .\$mb\:a > * { margin-block-end: auto }
.mb\:0, .\$mb\:0 > * { margin-block-end: 0 }
.mb\:xs, .\$mb\:xs > * { margin-block-end: var(--sf-margin-xs) }
.mb\:md, .\$mb\:md > * { margin-block-end: var(--sf-margin-md) }
.mb\:lg, .\$mb\:lg > * { margin-block-end: var(--sf-margin-lg) }
.mb\:xl, .\$mb\:xl > * { margin-block-end: var(--sf-margin-xl) }

.ml, .\$ml > * { margin-inline-start: var(--sf-margin) }
.ml\:a, .\$ml\:a > * { margin-inline-start: auto }
.ml\:0, .\$ml\:0 > * { margin-inline-start: 0 }
.ml\:xs, .\$ml\:xs > * { margin-inline-start: var(--sf-margin-xs) }
.ml\:md, .\$ml\:md > * { margin-inline-start: var(--sf-margin-md) }
.ml\:lg, .\$ml\:lg > * { margin-inline-start: var(--sf-margin-lg) }
.ml\:xl, .\$ml\:xl > * { margin-inline-start: var(--sf-margin-xl) }

.mx, .\$mx > * { margin-inline: var(--sf-margin) }
.mx\:a, .\$mx\:a > * { margin-inline: auto }
.mx\:0, .\$mx\:0 > * { margin-inline: 0 }
.mx\:xs, .\$mx\:xs > * { margin-inline: var(--sf-margin-xs) }
.mx\:md, .\$mx\:md > * { margin-inline: var(--sf-margin-md) }
.mx\:lg, .\$mx\:lg > * { margin-inline: var(--sf-margin-lg) }
.mx\:xl, .\$mx\:xl > * { margin-inline: var(--sf-margin-xl) }

.my, .\$my > * { margin-block: var(--sf-margin) }
.my\:a, .\$my\:a > * { margin-block: auto }
.my\:0, .\$my\:0 > * { margin-block: 0 }
.my\:xs, .\$my\:xs > * { margin-block: var(--sf-margin-xs) }
.my\:md, .\$my\:md > * { margin-block: var(--sf-margin-md) }
.my\:lg, .\$my\:lg > * { margin-block: var(--sf-margin-lg) }
.my\:xl, .\$my\:xl > * { margin-block: var(--sf-margin-xl) }

.m\:n, .\$m\:n > * { margin: calc(var(--sf-margin) * -1) }
.m\:n\:xs, .\$m\:n\:xs > * { margin: calc(var(--sf-margin-xs) * -1) }
.m\:n\:md, .\$m\:n\:md > * { margin: calc(var(--sf-margin-md) * -1) }
.m\:n\:lg, .\$m\:n\:lg > * { margin: calc(var(--sf-margin-lg) * -1) }
.m\:n\:xl, .\$m\:n\:xl > * { margin: calc(var(--sf-margin-xl) * -1) }

.mt\:n, .\$mt\:n > * { margin-block-start: calc(var(--sf-margin) * -1) }
.mt\:n\:xs, .\$mt\:n\:xs > * { margin-block-start: calc(var(--sf-margin-xs) * -1) }
.mt\:n\:md, .\$mt\:n\:md > * { margin-block-start: calc(var(--sf-margin-md) * -1) }
.mt\:n\:lg, .\$mt\:n\:lg > * { margin-block-start: calc(var(--sf-margin-lg) * -1) }
.mt\:n\:xl, .\$mt\:n\:xl > * { margin-block-start: calc(var(--sf-margin-xl) * -1) }

.mr\:n, .\$mr\:n > * { margin-inline-end: calc(var(--sf-margin) * -1) }
.mr\:n\:xs, .\$mr\:n\:xs > * { margin-inline-end: calc(var(--sf-margin-xs) * -1) }
.mr\:n\:md, .\$mr\:n\:md > * { margin-inline-end: calc(var(--sf-margin-md) * -1) }
.mr\:n\:lg, .\$mr\:n\:lg > * { margin-inline-end: calc(var(--sf-margin-lg) * -1) }
.mr\:n\:xl, .\$mr\:n\:xl > * { margin-inline-end: calc(var(--sf-margin-xl) * -1) }

.mb\:n, .\$mb\:n > * { margin-block-end: calc(var(--sf-margin) * -1) }
.mb\:n\:xs, .\$mb\:n\:xs > * { margin-block-end: calc(var(--sf-margin-xs) * -1) }
.mb\:n\:md, .\$mb\:n\:md > * { margin-block-end: calc(var(--sf-margin-md) * -1) }
.mb\:n\:lg, .\$mb\:n\:lg > * { margin-block-end: calc(var(--sf-margin-lg) * -1) }
.mb\:n\:xl, .\$mb\:n\:xl > * { margin-block-end: calc(var(--sf-margin-xl) * -1) }

.ml\:n, .\$ml\:n > * { margin-inline-start: calc(var(--sf-margin) * -1) }
.ml\:n\:xs, .\$ml\:n\:xs > * { margin-inline-start: calc(var(--sf-margin-xs) * -1) }
.ml\:n\:md, .\$ml\:n\:md > * { margin-inline-start: calc(var(--sf-margin-md) * -1) }
.ml\:n\:lg, .\$ml\:n\:lg > * { margin-inline-start: calc(var(--sf-margin-lg) * -1) }
.ml\:n\:xl, .\$ml\:n\:xl > * { margin-inline-start: calc(var(--sf-margin-xl) * -1) }

.mx\:n, .\$mx\:n > * { margin-inline: calc(var(--sf-margin) * -1) }
.mx\:n\:xs, .\$mx\:n\:xs > * { margin-inline: calc(var(--sf-margin-xs) * -1) }
.mx\:n\:md, .\$mx\:n\:md > * { margin-inline: calc(var(--sf-margin-md) * -1) }
.mx\:n\:lg, .\$mx\:n\:lg > * { margin-inline: calc(var(--sf-margin-lg) * -1) }
.mx\:n\:xl, .\$mx\:n\:xl > * { margin-inline: calc(var(--sf-margin-xl) * -1) }

.my\:n, .\$my\:n > * { margin-block: calc(var(--sf-margin) * -1) }
.my\:n\:xs, .\$my\:n\:xs > * { margin-block: calc(var(--sf-margin-xs) * -1) }
.my\:n\:md, .\$my\:n\:md > * { margin-block: calc(var(--sf-margin-md) * -1) }
.my\:n\:lg, .\$my\:n\:lg > * { margin-block: calc(var(--sf-margin-lg) * -1) }
.my\:n\:xl, .\$my\:n\:xl > * { margin-block: calc(var(--sf-margin-xl) * -1) }

/* /// */

html.var .m, html.var .\$m > * { margin: 0.5em }
html.var .m\:a, html.var .\$m\:a > * { margin: auto }
html.var .m\:0, html.var .\$m\:0 > * { margin: 0 }
html.var .m\:xs, html.var .\$m\:xs > * { margin: 0.25em }
html.var .m\:md, html.var .\$m\:md > * { margin: 1em }
html.var .m\:lg, html.var .\$m\:lg > * { margin: 1.5em }
html.var .m\:xl, html.var .\$m\:xl > * { margin: 2em }

html.var .mt, html.var .\$mt > * { margin-block-start: 0.5em }
html.var .mt\:a, html.var .\$mt\:a > * { margin-block-start: auto }
html.var .mt\:0, html.var .\$mt\:0 > * { margin-block-start: 0 }
html.var .mt\:xs, html.var .\$mt\:xs > * { margin-block-start: 0.25em }
html.var .mt\:md, html.var .\$mt\:md > * { margin-block-start: 1em }
html.var .mt\:lg, html.var .\$mt\:lg > * { margin-block-start: 1.5em }
html.var .mt\:xl, html.var .\$mt\:xl > * { margin-block-start: 2em }

html.var .mr, html.var .\$mr > * { margin-inline-end: 0.5em }
html.var .mr\:a, html.var .\$mr\:a > * { margin-inline-end: auto }
html.var .mr\:0, html.var .\$mr\:0 > * { margin-inline-end: 0 }
html.var .mr\:xs, html.var .\$mr\:xs > * { margin-inline-end: 0.25em }
html.var .mr\:md, html.var .\$mr\:md > * { margin-inline-end: 1em }
html.var .mr\:lg, html.var .\$mr\:lg > * { margin-inline-end: 1.5em }
html.var .mr\:xl, html.var .\$mr\:xl > * { margin-inline-end: 2em }

html.var .mb, html.var .\$mb > * { margin-block-end: 0.5em }
html.var .mb\:a, html.var .\$mb\:a > * { margin-block-end: auto }
html.var .mb\:0, html.var .\$mb\:0 > * { margin-block-end: 0 }
html.var .mb\:xs, html.var .\$mb\:xs > * { margin-block-end: 0.25em }
html.var .mb\:md, html.var .\$mb\:md > * { margin-block-end: 1em }
html.var .mb\:lg, html.var .\$mb\:lg > * { margin-block-end: 1.5em }
html.var .mb\:xl, html.var .\$mb\:xl > * { margin-block-end: 2em }

html.var .ml, html.var .\$ml > * { margin-inline-start: 0.5em }
html.var .ml\:a, html.var .\$ml\:a > * { margin-inline-start: auto }
html.var .ml\:0, html.var .\$ml\:0 > * { margin-inline-start: 0 }
html.var .ml\:xs, html.var .\$ml\:xs > * { margin-inline-start: 0.25em }
html.var .ml\:md, html.var .\$ml\:md > * { margin-inline-start: 1em }
html.var .ml\:lg, html.var .\$ml\:lg > * { margin-inline-start: 1.5em }
html.var .ml\:xl, html.var .\$ml\:xl > * { margin-inline-start: 2em }

html.var .mx, html.var .\$mx > * { margin-inline: 0.5em }
html.var .mx\:a, html.var .\$mx\:a > * { margin-inline: auto }
html.var .mx\:0, html.var .\$mx\:0 > * { margin-inline: 0 }
html.var .mx\:xs, html.var .\$mx\:xs > * { margin-inline: 0.25em }
html.var .mx\:md, html.var .\$mx\:md > * { margin-inline: 1em }
html.var .mx\:lg, html.var .\$mx\:lg > * { margin-inline: 1.5em }
html.var .mx\:xl, html.var .\$mx\:xl > * { margin-inline: 2em }

html.var .my, html.var .\$my > * { margin-block: 0.5em }
html.var .my\:a, html.var .\$my\:a > * { margin-block: auto }
html.var .my\:0, html.var .\$my\:0 > * { margin-block: 0 }
html.var .my\:xs, html.var .\$my\:xs > * { margin-block: 0.25em }
html.var .my\:md, html.var .\$my\:md > * { margin-block: 1em }
html.var .my\:lg, html.var .\$my\:lg > * { margin-block: 1.5em }
html.var .my\:xl, html.var .\$my\:xl > * { margin-block: 2em }

html.var .m\:n, html.var .\$m\:n > * { margin: -0.5em }
html.var .m\:n\:xs, html.var .\$m\:n\:xs > * { margin: -0.25em }
html.var .m\:n\:md, html.var .\$m\:n\:md > * { margin: -1em }
html.var .m\:n\:lg, html.var .\$m\:n\:lg > * { margin: -1.5em }
html.var .m\:n\:xl, html.var .\$m\:n\:xl > * { margin: -2em }

html.var .mt\:n, html.var .\$mt\:n > * { margin-block-start: -0.5em }
html.var .mt\:n\:xs, html.var .\$mt\:n\:xs > * { margin-block-start: -0.25em }
html.var .mt\:n\:md, html.var .\$mt\:n\:md > * { margin-block-start: -1em }
html.var .mt\:n\:lg, html.var .\$mt\:n\:lg > * { margin-block-start: -1.5em }
html.var .mt\:n\:xl, html.var .\$mt\:n\:xl > * { margin-block-start: -2em }

html.var .mr\:n, html.var .\$mr\:n > * { margin-inline-end: -0.5em }
html.var .mr\:n\:xs, html.var .\$mr\:n\:xs > * { margin-inline-end: -0.25em }
html.var .mr\:n\:md, html.var .\$mr\:n\:md > * { margin-inline-end: -1em }
html.var .mr\:n\:lg, html.var .\$mr\:n\:lg > * { margin-inline-end: -1.5em }
html.var .mr\:n\:xl, html.var .\$mr\:n\:xl > * { margin-inline-end: -2em }

html.var .mb\:n, html.var .\$mb\:n > * { margin-block-end: -0.5em }
html.var .mb\:n\:xs, html.var .\$mb\:n\:xs > * { margin-block-end: -0.25em }
html.var .mb\:n\:md, html.var .\$mb\:n\:md > * { margin-block-end: -1em }
html.var .mb\:n\:lg, html.var .\$mb\:n\:lg > * { margin-block-end: -1.5em }
html.var .mb\:n\:xl, html.var .\$mb\:n\:xl > * { margin-block-end: -2em }

html.var .ml\:n, html.var .\$ml\:n > * { margin-inline-start: -0.5em }
html.var .ml\:n\:xs, html.var .\$ml\:n\:xs > * { margin-inline-start: -0.25em }
html.var .ml\:n\:md, html.var .\$ml\:n\:md > * { margin-inline-start: -1em }
html.var .ml\:n\:lg, html.var .\$ml\:n\:lg > * { margin-inline-start: -1.5em }
html.var .ml\:n\:xl, html.var .\$ml\:n\:xl > * { margin-inline-start: -2em }

html.var .mx\:n, html.var .\$mx\:n > * { margin-inline: -0.5em }
html.var .mx\:n\:xs, html.var .\$mx\:n\:xs > * { margin-inline: -0.25em }
html.var .mx\:n\:md, html.var .\$mx\:n\:md > * { margin-inline: -1em }
html.var .mx\:n\:lg, html.var .\$mx\:n\:lg > * { margin-inline: -1.5em }
html.var .mx\:n\:xl, html.var .\$mx\:n\:xl > * { margin-inline: -2em }

html.var .my\:n, html.var .\$my\:n > * { margin-block: -0.5em }
html.var .my\:n\:xs, html.var .\$my\:n\:xs > * { margin-block: -0.25em }
html.var .my\:n\:md, html.var .\$my\:n\:md > * { margin-block: -1em }
html.var .my\:n\:lg, html.var .\$my\:n\:lg > * { margin-block: -1.5em }
html.var .my\:n\:xl, html.var .\$my\:n\:xl > * { margin-block: -2em }

html.mpb .mt, html.mpb .\$mt > * { margin-top: 0.5em }
html.mpb .mt\:0, html.mpb .\$mt\:0 > * { margin-top: 0 }
html.mpb .mt\:a, html.mpb .\$mt\:a > * { margin-top: auto }
html.mpb .mt\:xs, html.mpb .\$mt\:xs > * { margin-top: 0.25em }
html.mpb .mt\:md, html.mpb .\$mt\:md > * { margin-top: 1em }
html.mpb .mt\:lg, html.mpb .\$mt\:lg > * { margin-top: 1.5em }
html.mpb .mt\:xl, html.mpb .\$mt\:xl > * { margin-top: 2em }

html.mpb .mr, html.mpb .\$mr > * { margin-right: 0.5em }
html.mpb .mr\:0, html.mpb .\$mr\:0 > * { margin-right: 0 }
html.mpb .mr\:a, html.mpb .\$mr\:a > * { margin-right: auto }
html.mpb .mr\:xs, html.mpb .\$mr\:xs > * { margin-right: 0.25em }
html.mpb .mr\:md, html.mpb .\$mr\:md > * { margin-right: 1em }
html.mpb .mr\:lg, html.mpb .\$mr\:lg > * { margin-right: 1.5em }
html.mpb .mr\:xl, html.mpb .\$mr\:xl > * { margin-right: 2em }

html.mpb .mb, html.mpb .\$mb > * { margin-bottom: 0.5em }
html.mpb .mb\:0, html.mpb .\$mb\:0 > * { margin-bottom: 0 }
html.mpb .mb\:a, html.mpb .\$mb\:a > * { margin-bottom: auto }
html.mpb .mb\:xs, html.mpb .\$mb\:xs > * { margin-bottom: 0.25em }
html.mpb .mb\:md, html.mpb .\$mb\:md > * { margin-bottom: 1em }
html.mpb .mb\:lg, html.mpb .\$mb\:lg > * { margin-bottom: 1.5em }
html.mpb .mb\:xl, html.mpb .\$mb\:xl > * { margin-bottom: 2em }

html.mpb .ml, html.mpb .\$ml > * { margin-left: 0.5em }
html.mpb .ml\:0, html.mpb .\$ml\:0 > * { margin-left: 0 }
html.mpb .ml\:a, html.mpb .\$ml\:a > * { margin-left: auto }
html.mpb .ml\:xs, html.mpb .\$ml\:xs > * { margin-left: 0.25em }
html.mpb .ml\:md, html.mpb .\$ml\:md > * { margin-left: 1em }
html.mpb .ml\:lg, html.mpb .\$ml\:lg > * { margin-left: 1.5em }
html.mpb .ml\:xl, html.mpb .\$ml\:xl > * { margin-left: 2em }

html.mpb .mx, html.mpb .\$mx > * { margin-left: 0.5em; margin-right: 0.5em }
html.mpb .mx\:0, html.mpb .\$mx\:0 > * { margin-left: 0; margin-right: 0 }
html.mpb .mx\:a, html.mpb .\$mx\:a > * { margin-left: auto; margin-right: auto }
html.mpb .mx\:xs, html.mpb .\$mx\:xs > * { margin-left: 0.25em; margin-right: 0.25em }
html.mpb .mx\:md, html.mpb .\$mx\:md > * { margin-left: 1em; margin-right: 1em }
html.mpb .mx\:lg, html.mpb .\$mx\:lg > * { margin-left: 1.5em; margin-right: 1.5em }
html.mpb .mx\:xl, html.mpb .\$mx\:xl > * { margin-left: 2em; margin-right: 2em }

html.mpb .my, html.mpb .\$my > * { margin-top: 1em; margin-bottom: 1em }
html.mpb .my\:0, html.mpb .\$my\:0 > * { margin-top: 0; margin-bottom: 0 }
html.mpb .my\:a, html.mpb .\$my\:a > * { margin-top: auto; margin-bottom: auto }
html.mpb .my\:xs, html.mpb .\$my\:xs > * { margin-top: 0.25em; margin-bottom: 0.25em }
html.mpb .my\:md, html.mpb .\$my\:md > * { margin-top: 1em; margin-bottom: 1em }
html.mpb .my\:lg, html.mpb .\$my\:lg > * { margin-top: 1.5em; margin-bottom: 1.5em }
html.mpb .my\:xl, html.mpb .\$my\:xl > * { margin-top: 2em; margin-bottom: 2em }

html.mpb .mt\:n, html.mpb .\$mt\:n > * { margin-left: -0.5em }
html.mpb .mt\:n\:xs, html.mpb .\$mt\:n\:xs > * { margin-top: -0.25em }
html.mpb .mt\:n\:md, html.mpb .\$mt\:n\:md > * { margin-top: -1em }
html.mpb .mt\:n\:lg, html.mpb .\$mt\:n\:lg > * { margin-top: -1.5em }
html.mpb .mt\:n\:xl, html.mpb .\$mt\:n\:xl > * { margin-top: -2em }

html.mpb .mr\:n, html.mpb .\$mr\:n > * { margin-left: -0.5em }
html.mpb .mr\:n\:xs, html.mpb .\$mr\:n\:xs > * { margin-right: -0.25em }
html.mpb .mr\:n\:md, html.mpb .\$mr\:n\:md > * { margin-right: -1em }
html.mpb .mr\:n\:lg, html.mpb .\$mr\:n\:lg > * { margin-right: -1.5em }
html.mpb .mr\:n\:xl, html.mpb .\$mr\:n\:xl > * { margin-right: -2em }

html.mpb .mb\:n, html.mpb .\$mb\:n > * { margin-left: -0.5em }
html.mpb .mb\:n\:xs, html.mpb .\$mb\:n\:xs > * { margin-bottom: -0.25em }
html.mpb .mb\:n\:md, html.mpb .\$mb\:n\:md > * { margin-bottom: -1em }
html.mpb .mb\:n\:lg, html.mpb .\$mb\:n\:lg > * { margin-bottom: -1.5em }
html.mpb .mb\:n\:xl, html.mpb .\$mb\:n\:xl > * { margin-bottom: -2em }

html.mpb .ml\:n, html.mpb .\$ml\:n > * { margin-left: -0.5em }
html.mpb .ml\:n\:xs, html.mpb .\$ml\:n\:xs > * { margin-left: -0.25em }
html.mpb .ml\:n\:md, html.mpb .\$ml\:n\:md > * { margin-left: -1em }
html.mpb .ml\:n\:lg, html.mpb .\$ml\:n\:lg > * { margin-left: -1.5em }
html.mpb .ml\:n\:xl, html.mpb .\$ml\:n\:xl > * { margin-left: -2em }

html.mpb .mx\:n, html.mpb .\$mx\:n > * { margin-left: -0.5em; margin-right: -0.5em }
html.mpb .mx\:n\:xs, html.mpb .\$mx\:n\:xs > * { margin-left: -0.25em; margin-right: -0.25em }
html.mpb .mx\:n\:md, html.mpb .\$mx\:n\:md > * { margin-left: -1em; margin-right: -1em }
html.mpb .mx\:n\:lg, html.mpb .\$mx\:n\:lg > * { margin-left: -1.5em; margin-right: -1.5em }
html.mpb .mx\:n\:xl, html.mpb .\$mx\:n\:xl > * { margin-left: -2em; margin-right: -2em }

html.mpb .my\:n, html.mpb .\$my\:n > * { margin-top: -0.5em; margin-bottom: -0.5em }
html.mpb .my\:n\:xs, html.mpb .\$my\:n\:xs > * { margin-top: -0.25em; margin-bottom: -0.25em }
html.mpb .my\:n\:md, html.mpb .\$my\:n\:md > * { margin-top: -1em; margin-bottom: -1em }
html.mpb .my\:n\:lg, html.mpb .\$my\:n\:lg > * { margin-top: -1.5em; margin-bottom: -1.5em }
html.mpb .my\:n\:xl, html.mpb .\$my\:n\:xl > * { margin-top: -2em; margin-bottom: -2em }
