:root {
  --sf-padding: var(--sf-em-sm);

  --sf-padding-xs: var(--sf-em-xs);
  --sf-padding-md: var(--sf-em-md);
  --sf-padding-lg: var(--sf-em-lg);
  --sf-padding-xl: var(--sf-em-xl);
}

.p, .\$p > * { padding: var(--sf-padding) }
.p\:0, .\$p\:0 > * { padding: 0 }
.p\:xs, .\$p\:xs > * { padding: var(--sf-padding-xs) }
.p\:md, .\$p\:md > * { padding: var(--sf-padding-md) }
.p\:lg, .\$p\:lg > * { padding: var(--sf-padding-lg) }
.p\:xl, .\$p\:xl > * { padding: var(--sf-padding-xl) }

.pt, .\$pt > * { padding-block-start: var(--sf-padding) }
.pt\:0, .\$pt\:0 > * { padding-block-start: 0 }
.pt\:xs, .\$pt\:xs > * { padding-block-start: var(--sf-padding-xs) }
.pt\:md, .\$pt\:md > * { padding-block-start: var(--sf-padding-md) }
.pt\:lg, .\$pt\:lg > * { padding-block-start: var(--sf-padding-lg) }
.pt\:xl, .\$pt\:xl > * { padding-block-start: var(--sf-padding-xl) }

.pr, .\$pr > * { padding-inline-end: var(--sf-padding) }
.pr\:0, .\$pr\:0 > * { padding-inline-end: 0 }
.pr\:xs, .\$pr\:xs > * { padding-inline-end: var(--sf-padding-xs) }
.pr\:md, .\$pr\:md > * { padding-inline-end: var(--sf-padding-md) }
.pr\:lg, .\$pr\:lg > * { padding-inline-end: var(--sf-padding-lg) }
.pr\:xl, .\$pr\:xl > * { padding-inline-end: var(--sf-padding-xl) }

.pb, .\$pb > * { padding-block-end: var(--sf-padding) }
.pb\:0, .\$pb\:0 > * { padding-block-end: 0 }
.pb\:xs, .\$pb\:xs > * { padding-block-end: var(--sf-padding-xs) }
.pb\:md, .\$pb\:md > * { padding-block-end: var(--sf-padding-md) }
.pb\:lg, .\$pb\:lg > * { padding-block-end: var(--sf-padding-lg) }
.pb\:xl, .\$pb\:xl > * { padding-block-end: var(--sf-padding-xl) }

.pl, .\$pl > * { padding-inline-start: var(--sf-padding) }
.pl\:0, .\$pl\:0 > * { padding-inline-start: 0 }
.pl\:xs, .\$pl\:xs > * { padding-inline-start: var(--sf-padding-xs) }
.pl\:md, .\$pl\:md > * { padding-inline-start: var(--sf-padding-md) }
.pl\:lg, .\$pl\:lg > * { padding-inline-start: var(--sf-padding-lg) }
.pl\:xl, .\$pl\:xl > * { padding-inline-start: var(--sf-padding-xl) }

.px, .\$px > * { padding-inline: var(--sf-padding) }
.px\:0, .\$px\:0 > * { padding-inline: 0 }
.px\:xs, .\$px\:xs > * { padding-inline: var(--sf-padding-xs) }
.px\:md, .\$px\:md > * { padding-inline: var(--sf-padding-md) }
.px\:lg, .\$px\:lg > * { padding-inline: var(--sf-padding-lg) }
.px\:xl, .\$px\:xl > * { padding-inline: var(--sf-padding-xl) }

.py, .\$py > * { padding-block: var(--sf-padding) }
.py\:0, .\$py\:0 > * { padding-block: 0 }
.py\:xs, .\$py\:xs > * { padding-block: var(--sf-padding-xs) }
.py\:md, .\$py\:md > * { padding-block: var(--sf-padding-md) }
.py\:lg, .\$py\:lg > * { padding-block: var(--sf-padding-lg) }
.py\:xl, .\$py\:xl > * { padding-block: var(--sf-padding-xl) }

/* /// */

html.var .p, html.var .\$p > * { padding: 0.5em }
html.var .p\:0, html.var .\$p\:0 > * { padding: 0 }
html.var .p\:xs, html.var .\$p\:xs > * { padding: 0.25em }
html.var .p\:md, html.var .\$p\:md > * { padding: 1em }
html.var .p\:lg, html.var .\$p\:lg > * { padding: 1.5em }
html.var .p\:xl, html.var .\$p\:xl > * { padding: 2em }

html.var .pt, html.var .\$pt > * { padding-block-start: 0.5em }
html.var .pt\:0, html.var .\$pt\:0 > * { padding-block-start: 0 }
html.var .pt\:xs, html.var .\$pt\:xs > * { padding-block-start: 0.25em }
html.var .pt\:md, html.var .\$pt\:md > * { padding-block-start: 1em }
html.var .pt\:lg, html.var .\$pt\:lg > * { padding-block-start: 1.5em }
html.var .pt\:xl, html.var .\$pt\:xl > * { padding-block-start: 2em }

html.var .pr, html.var .\$pr > * { padding-inline-end: 0.5em }
html.var .pr\:0, html.var .\$pr\:0 > * { padding-inline-end: 0 }
html.var .pr\:xs, html.var .\$pr\:xs > * { padding-inline-end: 0.25em }
html.var .pr\:md, html.var .\$pr\:md > * { padding-inline-end: 1em }
html.var .pr\:lg, html.var .\$pr\:lg > * { padding-inline-end: 1.5em }
html.var .pr\:xl, html.var .\$pr\:xl > * { padding-inline-end: 2em }

html.var .pb, html.var .\$pb > * { padding-block-end: 0.5em }
html.var .pb\:0, html.var .\$pb\:0 > * { padding-block-end: 0 }
html.var .pb\:xs, html.var .\$pb\:xs > * { padding-block-end: 0.25em }
html.var .pb\:md, html.var .\$pb\:md > * { padding-block-end: 1em }
html.var .pb\:lg, html.var .\$pb\:lg > * { padding-block-end: 1.5em }
html.var .pb\:xl, html.var .\$pb\:xl > * { padding-block-end: 2em }

html.var .pl, html.var .\$pl > * { padding-inline-start: 0.5em }
html.var .pl\:0, html.var .\$pl\:0 > * { padding-inline-start: 0 }
html.var .pl\:xs, html.var .\$pl\:xs > * { padding-inline-start: 0.25em }
html.var .pl\:md, html.var .\$pl\:md > * { padding-inline-start: 1em }
html.var .pl\:lg, html.var .\$pl\:lg > * { padding-inline-start: 1.5em }
html.var .pl\:xl, html.var .\$pl\:xl > * { padding-inline-start: 2em }

html.var .px, html.var .\$px > * { padding-inline: 0.5em }
html.var .px\:0, html.var .\$px\:0 > * { padding-inline: 0 }
html.var .px\:xs, html.var .\$px\:xs > * { padding-inline: 0.25em }
html.var .px\:md, html.var .\$px\:md > * { padding-inline: 1em }
html.var .px\:lg, html.var .\$px\:lg > * { padding-inline: 1.5em }
html.var .px\:xl, html.var .\$px\:xl > * { padding-inline: 2em }

html.var .py, html.var .\$py > * { padding-block: 0.5em }
html.var .py\:0, html.var .\$py\:0 > * { padding-block: 0 }
html.var .py\:xs, html.var .\$py\:xs > * { padding-block: 0.25em }
html.var .py\:md, html.var .\$py\:md > * { padding-block: 1em }
html.var .py\:lg, html.var .\$py\:lg > * { padding-block: 1.5em }
html.var .py\:xl, html.var .\$py\:xl > * { padding-block: 2em }

html.mpb .pt, html.mpb .\$pt > * { padding-top: 0.5em }
html.mpb .pt\:0, html.mpb .\$pt\:0 > * { padding-top: 0 }
html.mpb .pt\:xs, html.mpb .\$pt\:xs > * { padding-top: 0.25em }
html.mpb .pt\:md, html.mpb .\$pt\:md > * { padding-top: 1em }
html.mpb .pt\:lg, html.mpb .\$pt\:lg > * { padding-top: 1.5em }
html.mpb .pt\:xl, html.mpb .\$pt\:xl > * { padding-top: 2em }

html.mpb .pr, html.mpb .\$pr > * { padding-right: 0.5em }
html.mpb .pr\:0, html.mpb .\$pr\:0 { padding-right: 0 }
html.mpb .pr\:xs, html.mpb .\$pr\:xs { padding-right: 0.25em }
html.mpb .pr\:md, html.mpb .\$pr\:md { padding-right: 1em }
html.mpb .pr\:lg, html.mpb .\$pr\:lg { padding-right: 1.5em }
html.mpb .pr\:xl, html.mpb .\$pr\:xl { padding-right: 2em }

html.mpb .pb, html.mpb .\$pb > * { padding-bottom: 0.5em }
html.mpb .pb\:0, html.mpb .\$pb\:0 > * { padding-bottom: 0 }
html.mpb .pb\:xs, html.mpb .\$pb\:xs > * { padding-bottom: 0.25em }
html.mpb .pb\:md, html.mpb .\$pb\:md > * { padding-bottom: 1em }
html.mpb .pb\:lg, html.mpb .\$pb\:lg > * { padding-bottom: 1.5em }
html.mpb .pb\:xl, html.mpb .\$pb\:xl > * { padding-bottom: 2em }

html.mpb .pl, html.mpb .\$pl > * { padding-left: 0.5em }
html.mpb .pl\:0, html.mpb .\$pl\:0 > * { padding-left: 0 }
html.mpb .pl\:xs, html.mpb .\$pl\:xs > * { padding-left: 0.25em }
html.mpb .pl\:md, html.mpb .\$pl\:md > * { padding-left: 1em }
html.mpb .pl\:lg, html.mpb .\$pl\:lg > * { padding-left: 1.5em }
html.mpb .pl\:xl, html.mpb .\$pl\:xl > * { padding-left: 2em }

html.mpb .px, html.mpb .\$px > * { padding-left: 0.5em; padding-right: 0.5em }
html.mpb .px\:0, html.mpb .\$px\:0 > * { padding-left: 0; padding-right: 0 }
html.mpb .px\:xs, html.mpb .\$px\:xs > * { padding-left: 0.25em; padding-right: 0.25em }
html.mpb .px\:md, html.mpb .\$px\:md > * { padding-left: 1em; padding-right: 1em }
html.mpb .px\:lg, html.mpb .\$px\:lg > * { padding-left: 1.5em; padding-right: 1.5em }
html.mpb .px\:xl, html.mpb .\$px\:xl > * { padding-left: 2em; padding-right: 2em }

html.mpb .py, html.mpb .\$py > * { padding-top: 0.5em; padding-bottom: 0.5em }
html.mpb .py\:0, html.mpb .\$py\:0 > * { padding-top: 0; padding-bottom: 0 }
html.mpb .py\:xs, html.mpb .\$py\:xs > * { padding-top: 0.25em; padding-bottom: 0.25em }
html.mpb .py\:md, html.mpb .\$py\:md > * { padding-top: 1em; padding-bottom: 1em }
html.mpb .py\:lg, html.mpb .\$py\:lg > * { padding-top: 1.5em; padding-bottom: 1.5em }
html.mpb .py\:xl, html.mpb .\$py\:xl > * { padding-top: 2em; padding-bottom: 2em }
