.pos\:a { position: absolute }
.pos\:f { position: fixed }
.pos\:r { position: relative }
.pos\:static { position: static }
.pos\:s { position: sticky }

.t { top: 0 }
.l { left: 0 }
.r { right: 0 }
.b { bottom: 0 }

.t\:a { top: auto }
.l\:a { left: auto }
.r\:a { right: auto }
.b\:a { bottom: auto }

.t\:i { top: inherit }
.l\:i { left: inherit }
.r\:i { right: inherit }
.b\:i { bottom: inherit }

.full:where(.pos\:a, .pos\:f) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
