.pos\:a { position: absolute }
.pos\:f { position: fixed }
.pos\:r { position: relative }
.pos\:static { position: static }
.pos\:s { position: sticky }

.t { top: 0 }
.l { left: 0 }
.r { right: 0 }
.b { bottom: 0 }

.t\:auto { top: auto }
.l\:auto { left: auto }
.r\:auto { right: auto }
.b\:auto { bottom: auto }

.full:where(.pos\:a, .pos\:f) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
