:root {
  --sf-radius: var(--sf-em-sm);

  --sf-radius-xxs: var(--sf-em-xxs1);
  --sf-radius-xs: var(--sf-em-xs);
  --sf-radius-md: var(--sf-em-md);
  --sf-radius-lg: var(--sf-em-lg);
  --sf-radius-xl: var(--sf-em-xl);
}

.radius:not(html) { border-radius: var(--sf-radius) }
.radius\:xxs { border-radius: var(--sf-radius-xxs) }
.radius\:xs { border-radius: var(--sf-radius-xs) }
.radius\:md { border-radius: var(--sf-radius-md) }
.radius\:lg { border-radius: var(--sf-radius-lg) }
.radius\:xl { border-radius: var(--sf-radius-xl) }

.radius\:0 { border-radius: 0 }
.radius\:25 { border-radius: 25% }
.radius\:50 { border-radius: 50% }
.radius\:75 { border-radius: 75% }
.radius\:100 { border-radius: 100% }

.radius\:tl, .radius\:lt { border-start-start-radius: var(--sf-radius) }
.radius\:tl\:xxs, .radius\:lt\:xxs { border-start-start-radius: var(--sf-radius-xxs) }
.radius\:tl\:xs, .radius\:lt\:xs { border-start-start-radius: var(--sf-radius-xs) }
.radius\:tl\:md, .radius\:lt\:md { border-start-start-radius: var(--sf-radius-md) }
.radius\:tl\:lg, .radius\:lt\:lg { border-start-start-radius: var(--sf-radius-lg) }
.radius\:tl\:xl, .radius\:lt\:xl { border-start-start-radius: var(--sf-radius-xl) }

.radius\:tl\:0, .radius\:lt\:0 { border-start-start-radius: 0 }
.radius\:tl\:25, .radius\:lt\:25 { border-start-start-radius: 25% }
.radius\:tl\:50, .radius\:lt\:50 { border-start-start-radius: 50% }
.radius\:tl\:75, .radius\:lt\:75 { border-start-start-radius: 75% }
.radius\:tl\:100, .radius\:lt\:100 { border-start-start-radius: 100% }

.radius\:tr, .radius\:rt { border-start-end-radius: var(--sf-radius) }
.radius\:tr\:xxs, .radius\:rt\:xxs { border-start-end-radius: var(--sf-radius-xxs) }
.radius\:tr\:xs, .radius\:rt\:xs { border-start-end-radius: var(--sf-radius-xs) }
.radius\:tr\:md, .radius\:rt\:md { border-start-end-radius: var(--sf-radius-md) }
.radius\:tr\:lg, .radius\:rt\:lg { border-start-end-radius: var(--sf-radius-lg) }
.radius\:tr\:xl, .radius\:rt\:xl { border-start-end-radius: var(--sf-radius-xl) }

.radius\:tr\:0, .radius\:rt\:0 { border-start-end-radius: 0 }
.radius\:tr\:25, .radius\:rt\:25 { border-start-end-radius: 25% }
.radius\:tr\:50, .radius\:rt\:50 { border-start-end-radius: 50% }
.radius\:tr\:75, .radius\:rt\:75 { border-start-end-radius: 75% }
.radius\:tr\:100, .radius\:rt\:100 { border-start-end-radius: 100% }

.radius\:bl, .radius\:lb { border-end-start-radius: var(--sf-radius) }
.radius\:bl\:xxs, .radius\:lb\:xxs { border-end-start-radius: var(--sf-radius-xxs) }
.radius\:bl\:xs, .radius\:lb\:xs { border-end-start-radius: var(--sf-radius-xs) }
.radius\:bl\:md, .radius\:lb\:md { border-end-start-radius: var(--sf-radius-md) }
.radius\:bl\:lg, .radius\:lb\:lg { border-end-start-radius: var(--sf-radius-lg) }
.radius\:bl\:xl, .radius\:lb\:xl { border-end-start-radius: var(--sf-radius-xl) }

.radius\:bl\:0, .radius\:lb\:0 { border-end-start-radius: 0 }
.radius\:bl\:25, .radius\:lb\:25 { border-end-start-radius: 25% }
.radius\:bl\:50, .radius\:lb\:50 { border-end-start-radius: 50% }
.radius\:bl\:75, .radius\:lb\:75 { border-end-start-radius: 75% }
.radius\:bl\:100, .radius\:lb\:100 { border-end-start-radius: 100% }

.radius\:br, .radius\:rb { border-end-end-radius: var(--sf-radius) }
.radius\:br\:xxs, .radius\:rb\:xxs { border-end-end-radius: var(--sf-radius-xxs) }
.radius\:br\:xs, .radius\:rb\:xs { border-end-end-radius: var(--sf-radius-xs) }
.radius\:br\:md, .radius\:rb\:md { border-end-end-radius: var(--sf-radius-md) }
.radius\:br\:lg, .radius\:rb\:lg { border-end-end-radius: var(--sf-radius-lg) }
.radius\:br\:xl, .radius\:rb\:xl { border-end-end-radius: var(--sf-radius-xl) }

.radius\:br\:0, .radius\:rb\:0 { border-end-end-radius: 0 }
.radius\:br\:25, .radius\:rb\:25 { border-end-end-radius: 25% }
.radius\:br\:50, .radius\:rb\:50 { border-end-end-radius: 50% }
.radius\:br\:75, .radius\:rb\:75 { border-end-end-radius: 75% }
.radius\:br\:100, .radius\:rb\:100 { border-end-end-radius: 100% }

.radius\:top { border-start-start-radius: var(--sf-radius); border-start-end-radius: var(--sf-radius) }
.radius\:top\:xxs { border-start-start-radius: var(--sf-radius-xxs); border-start-end-radius: var(--sf-radius-xxs) }
.radius\:top\:xs { border-start-start-radius: var(--sf-radius-xs); border-start-end-radius: var(--sf-radius-xs) }
.radius\:top\:md { border-start-start-radius: var(--sf-radius-md); border-start-end-radius: var(--sf-radius-md) }
.radius\:top\:lg { border-start-start-radius: var(--sf-radius-lg); border-start-end-radius: var(--sf-radius-lg) }
.radius\:top\:xl { border-start-start-radius: var(--sf-radius-xl); border-start-end-radius: var(--sf-radius-xl) }

.radius\:top\:0 { border-start-start-radius: 0; border-start-end-radius: 0 }
.radius\:top\:25 { border-start-start-radius: 25%; border-start-end-radius: 25% }
.radius\:top\:50 { border-start-start-radius: 50%; border-start-end-radius: 50% }
.radius\:top\:75 { border-start-start-radius: 75%; border-start-end-radius: 75% }
.radius\:top\:100 { border-start-start-radius: 100%; border-start-end-radius: 100% }

.radius\:bottom { border-end-start-radius: var(--sf-radius); border-end-end-radius: var(--sf-radius) }
.radius\:bottom\:xxs { border-end-start-radius: var(--sf-radius-xxs); border-end-end-radius: var(--sf-radius-xxs) }
.radius\:bottom\:xs { border-end-start-radius: var(--sf-radius-xs); border-end-end-radius: var(--sf-radius-xs) }
.radius\:bottom\:md { border-end-start-radius: var(--sf-radius-md); border-end-end-radius: var(--sf-radius-md) }
.radius\:bottom\:lg { border-end-start-radius: var(--sf-radius-lg); border-end-end-radius: var(--sf-radius-lg) }
.radius\:bottom\:xl { border-end-start-radius: var(--sf-radius-xl); border-end-end-radius: var(--sf-radius-xl) }

.radius\:bottom\:0 { border-end-start-radius: 0; border-end-end-radius: 0 }
.radius\:bottom\:25 { border-end-start-radius: 25%; border-end-end-radius: 25% }
.radius\:bottom\:50 { border-end-start-radius: 50%; border-end-end-radius: 50% }
.radius\:bottom\:75 { border-end-start-radius: 75%; border-end-end-radius: 75% }
.radius\:bottom\:100 { border-end-start-radius: 100%; border-end-end-radius: 100% }

.radius\:left { border-start-start-radius: var(--sf-radius); border-end-start-radius: var(--sf-radius) }
.radius\:left\:xxs { border-start-start-radius: var(--sf-radius-xxs); border-end-start-radius: var(--sf-radius-xxs) }
.radius\:left\:xs { border-start-start-radius: var(--sf-radius-xs); border-end-start-radius: var(--sf-radius-xs) }
.radius\:left\:md { border-start-start-radius: var(--sf-radius-md); border-end-start-radius: var(--sf-radius-md) }
.radius\:left\:lg { border-start-start-radius: var(--sf-radius-lg); border-end-start-radius: var(--sf-radius-lg) }
.radius\:left\:xl { border-start-start-radius: var(--sf-radius-xl); border-end-start-radius: var(--sf-radius-xl) }

.radius\:left\:0 { border-start-start-radius: 0; border-end-start-radius: 0 }
.radius\:left\:25 { border-start-start-radius: 25%; border-end-start-radius: 25% }
.radius\:left\:50 { border-start-start-radius: 50%; border-end-start-radius: 50% }
.radius\:left\:75 { border-start-start-radius: 75%; border-end-start-radius: 75% }
.radius\:left\:100 { border-start-start-radius: 100%; border-end-start-radius: 100% }

.radius\:right { border-start-end-radius: var(--sf-radius); border-end-end-radius: var(--sf-radius) }
.radius\:right\:xxs { border-end-start-radius: var(--sf-radius-xxs); border-end-end-radius: var(--sf-radius-xxs) }
.radius\:right\:xs { border-end-start-radius: var(--sf-radius-xs); border-end-end-radius: var(--sf-radius-xs) }
.radius\:right\:md { border-end-start-radius: var(--sf-radius-md); border-end-end-radius: var(--sf-radius-md) }
.radius\:right\:lg { border-end-start-radius: var(--sf-radius-lg); border-end-end-radius: var(--sf-radius-lg) }
.radius\:right\:xl { border-end-start-radius: var(--sf-radius-xl); border-end-end-radius: var(--sf-radius-xl) }

.radius\:right\:0 { border-end-start-radius: 0; border-end-end-radius: 0 }
.radius\:right\:25 { border-end-start-radius: 25%; border-end-end-radius: 25% }
.radius\:right\:50 { border-end-start-radius: 50%; border-end-end-radius: 50% }
.radius\:right\:75 { border-end-start-radius: 75%; border-end-end-radius: 75% }
.radius\:right\:100 { border-end-start-radius: 100%; border-end-end-radius: 100% }

/* /// */

html.var .radius { border-radius: 0.5em }
html.var .radius\:xxs1 { border-radius: 0.1875em }
html.var .radius\:xs { border-radius: 0.25em }
html.var .radius\:md { border-radius: 1em }
html.var .radius\:lg { border-radius: 1.5em }
html.var .radius\:xl { border-radius: 2em }

html.var .radius\:tl, html.var .radius\:lt { border-start-start-radius: 0.5em }
html.var .radius\:tl\:xxs1, html.var .radius\:lt\:xxs1 { border-start-start-radius: 0.1875em }
html.var .radius\:tl\:xs, html.var .radius\:lt\:xs { border-start-start-radius: 0.25em }
html.var .radius\:tl\:md, html.var .radius\:lt\:md { border-start-start-radius: 1em }
html.var .radius\:tl\:lg, html.var .radius\:lt\:lg { border-start-start-radius: 1.5em }
html.var .radius\:tl\:xl, html.var .radius\:lt\:xl { border-start-start-radius: 2em }

html.var .radius\:tr, html.var .radius\:rt { border-start-end-radius: 0.5em }
html.var .radius\:tr\:xxs1, html.var .radius\:rt\:xxs1 { border-start-end-radius: 0.1875em }
html.var .radius\:tr\:xs, html.var .radius\:rt\:xs { border-start-end-radius: 0.25em }
html.var .radius\:tr\:md, html.var .radius\:rt\:md { border-start-end-radius: 1em }
html.var .radius\:tr\:lg, html.var .radius\:rt\:lg { border-start-end-radius: 1.5em }
html.var .radius\:tr\:xl, html.var .radius\:rt\:xl { border-start-end-radius: 2em }

html.var .radius\:bl, html.var .radius\:lb { border-end-start-radius: 0.5em }
html.var .radius\:bl\:xxs1, html.var .radius\:lb\:xxs1 { border-end-start-radius: 0.1875em }
html.var .radius\:bl\:xs, html.var .radius\:lb\:xs { border-end-start-radius: 0.25em }
html.var .radius\:bl\:md, html.var .radius\:lb\:md { border-end-start-radius: 1em }
html.var .radius\:bl\:lg, html.var .radius\:lb\:lg { border-end-start-radius: 1.5em }
html.var .radius\:bl\:xl, html.var .radius\:lb\:xl { border-end-start-radius: 2em }

html.var .radius\:br, html.var .radius\:rb { border-end-end-radius: 0.5em }
html.var .radius\:br\:xxs1, html.var .radius\:rb\:xxs1 { border-end-end-radius: 0.1875em }
html.var .radius\:br\:xs, html.var .radius\:rb\:xs { border-end-end-radius: 0.25em }
html.var .radius\:br\:md, html.var .radius\:rb\:md { border-end-end-radius: 1em }
html.var .radius\:br\:lg, html.var .radius\:rb\:lg { border-end-end-radius: 1.5em }
html.var .radius\:br\:xl, html.var .radius\:rb\:xl { border-end-end-radius: 2em }

html.var .radius\:top { border-start-start-radius: 0.5em; border-start-end-radius: 0.5em }
html.var .radius\:top\:xxs1 { border-start-start-radius: 0.1875em; border-start-end-radius: 0.1875em }
html.var .radius\:top\:xs { border-start-start-radius: 0.25em; border-start-end-radius: 0.25em }
html.var .radius\:top\:md { border-start-start-radius: 1em; border-start-end-radius: 1em }
html.var .radius\:top\:lg { border-start-start-radius: 1.5em; border-start-end-radius: 1.5em }
html.var .radius\:top\:xl { border-start-start-radius: 2em; border-start-end-radius: 2em }

html.var .radius\:bottom { border-end-start-radius: 0.5em; border-end-end-radius: 0.5em }
html.var .radius\:bottom\:xxs1 { border-end-start-radius: 0.1875em; border-end-end-radius: 0.1875em }
html.var .radius\:bottom\:xs { border-end-start-radius: 0.25em; border-end-end-radius: 0.25em }
html.var .radius\:bottom\:md { border-end-start-radius: 1em; border-end-end-radius: 1em }
html.var .radius\:bottom\:lg { border-end-start-radius: 1.5em; border-end-end-radius: 1.5em }
html.var .radius\:bottom\:xl { border-end-start-radius: 2em; border-end-end-radius: 2em }

html.var .radius\:left { border-start-start-radius: 0.5em; border-end-start-radius: 0.5em }
html.var .radius\:left\:xxs1 { border-start-start-radius: 0.1875em; border-end-start-radius: 0.1875em }
html.var .radius\:left\:xs { border-start-start-radius: 0.25em; border-end-start-radius: 0.25em }
html.var .radius\:left\:md { border-start-start-radius: 1em; border-end-start-radius: 1em }
html.var .radius\:left\:lg { border-start-start-radius: 1.5em; border-end-start-radius: 1.5em }
html.var .radius\:left\:xl { border-start-start-radius: 2em; border-end-start-radius: 2em }

html.var .radius\:right { border-start-end-radius: 0.5em; border-end-end-radius: 0.5em }
html.var .radius\:right\:xxs1 { border-end-start-radius: 0.1875em; border-end-end-radius: 0.1875em }
html.var .radius\:right\:xs { border-end-start-radius: 0.25em; border-end-end-radius: 0.25em }
html.var .radius\:right\:md { border-end-start-radius: 1em; border-end-end-radius: 1em }
html.var .radius\:right\:lg { border-end-start-radius: 1.5em; border-end-end-radius: 1.5em }
html.var .radius\:right\:xl { border-end-start-radius: 2em; border-end-end-radius: 2em }

/* /// */

html.radius .radius\:tl, html.radius .radius\:lt { border-top-left-radius: 0.5em }
html.radius .radius\:tl\:xxs1, html.radius .radius\:lt\:xxs1 { border-top-left-radius: 0.1875em }
html.radius .radius\:tl\:xs, html.radius .radius\:lt\:xs { border-top-left-radius: 0.25em }
html.radius .radius\:tl\:md, html.radius .radius\:lt\:md { border-top-left-radius: 1em }
html.radius .radius\:tl\:lg, html.radius .radius\:lt\:lg { border-top-left-radius: 1.5em }
html.radius .radius\:tl\:xl, html.radius .radius\:lt\:xl { border-top-left-radius: 2em }

html.radius .radius\:tr, html.radius .radius\:rt { border-top-right-radius: 0.5em }
html.radius .radius\:tr\:xxs1, html.radius .radius\:rt\:xxs1 { border-top-right-radius: 0.1875em }
html.radius .radius\:tr\:xs, html.radius .radius\:rt\:xs { border-top-right-radius: 0.25em }
html.radius .radius\:tr\:md, html.radius .radius\:rt\:md { border-top-right-radius: 1em }
html.radius .radius\:tr\:lg, html.radius .radius\:rt\:lg { border-top-right-radius: 1.5em }
html.radius .radius\:tr\:xl, html.radius .radius\:rt\:xl { border-top-right-radius: 2em }

html.radius .radius\:bl, html.radius .radius\:lb { border-bottom-left-radius: 0.5em }
html.radius .radius\:bl\:xxs1, html.radius .radius\:lb\:xxs1 { border-bottom-left-radius: 0.1875em }
html.radius .radius\:bl\:xs, html.radius .radius\:lb\:xs { border-bottom-left-radius: 0.25em }
html.radius .radius\:bl\:md, html.radius .radius\:lb\:md { border-bottom-left-radius: 1em }
html.radius .radius\:bl\:lg, html.radius .radius\:lb\:lg { border-bottom-left-radius: 1.5em }
html.radius .radius\:bl\:xl, html.radius .radius\:lb\:xl { border-bottom-left-radius: 2em }

html.radius .radius\:br, html.radius .radius\:rb { border-bottom-right-radius: 0.5em }
html.radius .radius\:br\:xxs1, html.radius .radius\:rb\:xxs1 { border-bottom-right-radius: 0.1875em }
html.radius .radius\:br\:xs, html.radius .radius\:rb\:xs { border-bottom-right-radius: 0.25em }
html.radius .radius\:br\:md, html.radius .radius\:rb\:md { border-bottom-right-radius: 1em }
html.radius .radius\:br\:lg, html.radius .radius\:rb\:lg { border-bottom-right-radius: 1.5em }
html.radius .radius\:br\:xl, html.radius .radius\:rb\:xl { border-bottom-right-radius: 2em }

html.radius .radius\:top { border-top-left-radius: 0.5em; border-top-right-radius: 0.5em }
html.radius .radius\:top\:xxs1 { border-top-left-radius: 0.1875em; border-top-right-radius: 0.1875em }
html.radius .radius\:top\:xs { border-top-left-radius: 0.25em; border-top-right-radius: 0.25em }
html.radius .radius\:top\:md { border-top-left-radius: 1em; border-top-right-radius: 1em }
html.radius .radius\:top\:lg { border-top-left-radius: 1.5em; border-top-right-radius: 1.5em }
html.radius .radius\:top\:xl { border-top-left-radius: 2em; border-top-right-radius: 2em }

html.radius .radius\:bottom { border-bottom-left-radius: 0.5em; border-bottom-right-radius: 0.5em }
html.radius .radius\:bottom\:xxs1 { border-bottom-left-radius: 0.1875em; border-bottom-right-radius: 0.1875em }
html.radius .radius\:bottom\:xs { border-bottom-left-radius: 0.25em; border-bottom-right-radius: 0.25em }
html.radius .radius\:bottom\:md { border-bottom-left-radius: 1em; border-bottom-right-radius: 1em }
html.radius .radius\:bottom\:lg { border-bottom-left-radius: 1.5em; border-bottom-right-radius: 1.5em }
html.radius .radius\:bottom\:xl { border-bottom-left-radius: 2em; border-bottom-right-radius: 2em }

html.radius .radius\:left { border-top-left-radius: 0.5em; border-bottom-left-radius: 0.5em }
html.radius .radius\:left\:xxs1 { border-top-left-radius: 0.1875em; border-bottom-left-radius: 0.1875em }
html.radius .radius\:left\:xs { border-top-left-radius: 0.25em; border-bottom-left-radius: 0.25em }
html.radius .radius\:left\:md { border-top-left-radius: 1em; border-bottom-left-radius: 1em }
html.radius .radius\:left\:lg { border-top-left-radius: 1.5em; border-bottom-left-radius: 1.5em }
html.radius .radius\:left\:xl { border-top-left-radius: 2em; border-bottom-left-radius: 2em }

html.radius .radius\:right { border-top-right-radius: 0.5em; border-bottom-right-radius: 0.5em }
html.radius .radius\:right\:xxs1 { border-top-right-radius: 0.1875em; border-bottom-right-radius: 0.1875em }
html.radius .radius\:right\:xs { border-top-right-radius: 0.25em; border-bottom-right-radius: 0.25em }
html.radius .radius\:right\:md { border-top-right-radius: 1em; border-bottom-right-radius: 1em }
html.radius .radius\:right\:lg { border-top-right-radius: 1.5em; border-bottom-right-radius: 1.5em }
html.radius .radius\:right\:xl { border-top-right-radius: 2em; border-bottom-right-radius: 2em }
